# Copy me in the systemd folder, like /lib/systemd/system/
[Unit]
Description="OsSitter help you to monitor your PC and Services"
# After= what you want

[Service]
# idle : run when all active service are launched
Type=idle			
# Must finish with a 0 code
Restart=on-failure
# >>> To Modify <<<
User=alex
# Don't touch !			
ExecStart=/bin/bash -c 'cd {InstallFolder} && ./OsSitter.py'
# Logs
StandardOutput=append:{InstallFolder}/ossitter-std.log
StandardError=append:{InstallFolder}/ossitter-err.log

[Install]
WantedBy=multi-user.target
